@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900);
@import 'glyphs';
@import 'variable';
@import 'mixins';
@import 'primary-navigation';
@import 'videojs';
@import 'intro';
@import 'sections';
@import 'petitions';
@import 'custom-scrollbar';
@import 'blog';
@import 'team';
@import 'landing-page';
@import 'modal';
@import 'footer';


/* gs bootstrap */
body {
  font-size: 16px;
  font-family: $alphaCustomFont;
  //visibility: hidden;
}

a, button {
  @include transition(all 0.4s);
  color: inherit;
    &:hover {
      text-decoration: none;
      color: $defaultHoverColor!important;
    }
}
p a {
  text-decoration: underline;
}

p {
  @include font-size(35px);
}

.blue-background {
  background: $gsBlue;
  padding: 3px;
  @include border-radius(5px);
}

strong {
  font-weight: 700;
  @include font-size(30px);
}
.gs-btn {
  @include border-radius(0);
  @include font-size(22px);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.6;
    &:hover {
      color: inherit!important;
    }
}
.gs-btn-blue {
  background: $gsBlue;
  color: #fff;
}
.gs-btn-orange {
  background: $gsOrange;
  color: #fff;
}
.gs-btn-white {
  background: #fff;
  color: #333;
    &:hover {
      color: #333!important;
    }
}

button:active {
  border: 0;
}

#back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  @include font-size(100px);
  color: rgba(0,0,0,0.5);
  opacity: 0;
  cursor: pointer;
    &:hover {
      color: rgba(0,0,0,1);
    }
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
}


.page-header {
  border-bottom: 0;
  min-height: 200px;
  @include flexbox;
  @include flexAlignItems(center);
  margin: 80px 0 0;
  padding-bottom: 0;
    h1 {
      padding: 0;
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
      color: $gsBlue;
      @include large-desktops {
        @include font-size(60px);
      }
      @include desktops {
        @include font-size(60px);
      }
      @include tablets {
        @include font-size(40px);
      }
    }
}
.jumbotron {
  background: none;
  color: #fff;
  padding-left: 0 !important;
  padding-right: 0;
  text-transform: uppercase;
  h1 {
    font-weight: 300;
    color: $gsBlue;
    @include large-desktops {
      @include font-size(70px);
    }
    @include desktops {
      @include font-size(70px);
    }
    @include tablets {
      @include font-size(40px);
    }
  }
  h2 {
    @include large-desktops {
      @include font-size(50px);
    }
    @include desktops {
      @include font-size(50px);
    }
    @include tablets {
      @include font-size(30px);
    }
  }
}


.social-link-bar, .social-link-column {
  padding: 15px 0;
    li {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      @include transition(all 0.5s);
        &.facebook a  {
          background: #3b5998;
        }
        &.twitter a {
          background: #4099FF;
        }
        &.email a {
          background: #ccc;
        }
        a {
          display: block;
          padding: 8px 0;
            &:hover {
              color: #fff!important;
            }
        }
      &:hover {
        margin-top: -10px;
      }
    }
}
.social-link-column {
  li {
    display: block;
    margin-bottom: 10px;
      &:hover {
        margin-top: 0;
      }
  }
}

//CAROUSEL
.carousel-indicators {
  bottom: -40px;
    li {
      border: 1px solid $gsBlue;
        &.active {
          background: $gsBlue;
        }
    }
}
.carousel-control {
    span {
      position: absolute;
      top: 50%;
      @include font-size(50px);
      margin-top: -20px;
    }
    &.left {
      background: none;
      span {
        left: 5%;
      }
    }
    &.right {
      background: none;
        span {
          right: 5%;
        }
    }
}

#full-width-slider {
  position: relative;
    .item {
      height: 500px;
      @include coverBG();
        .text-overlay {
          position: absolute;
          background: rgba(0,0,0,0.5);
          color: #fff;
          bottom: 0;
          left: 0;
          right: 0;
          padding-top: 15px;
          padding-bottom: 15px;
        }
    }
    .carousel-control {
      span {
        @include font-size(90px);
        margin-top: -40px;
      }
    }
    #toggle-display {
      color: #fff;
      padding: 5px;
      position: absolute;
      @include font-size(40px);
      bottom: 5px;
      right: 15px;
      cursor: pointer;
    }
}

// SELECT MENU
.select-menu {
  position: relative;
  z-index: 2;
  margin-top: 4px;
  margin-bottom: 15px;
    .select-box {
      border: 1px solid #eaeaea;
      color: #333;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 10px;
      line-height: 2;
      position: relative;
      cursor: pointer;
      span {
        color: $gsBlue;
        border-left: 1px solid #eaeaea;
        padding: 10px;
        margin-left: 10px;
      }
      b {
        color: $gsBlue;
        position: absolute;
        right: 5px;
        top: 10px;
      }
    }
    .select-options {
      overflow: hidden;
      max-height: 175px;
      background:#fff;
      display: none;
      position: absolute;
      left: 15px;
      right: 15px;
      top: 100%;
      @include box-shadow(0px 1px 4px 4px, rgba(68,174,234,0.1));
      li {
        padding: 8px;
        cursor: pointer;
          &:last-child {
            border-bottom: 0;
          }
        &:hover {
          background: #eaeaea;
        }
      }
    }
}

// SEARCH
form {
  width:100%;
  margin-top: 4px;
  .form-group {
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #eaeaea;
    input {
      padding-right: 50px;
      @include border-radius(0);
      text-transform: uppercase;
      border: 0;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

}





